.weui-search-bar__cancel-btn
    color #333

// weui-cell
.weui-cell
    padding: 10px 0

.weui-cells
    margin-top: 0
    
    .no-border&:before
        border: none
    .no-border&:after
        border: none
    .weui-cell:before
        display: none



// toast
.weui-toast
    min-height: 0

.weui-icon_toast
    display: none

.weui-toast__content
    margin: 5px 0    


// confirm 
.weui-dialog.weui-animate-fade-in
    max-width: 270px
    max-height: 130px
    

.weui-dialog
    .weui-dialog__hd
        padding-top: 20px
        padding-bottom: 10px
        line-height: 1

.weui-dialog
    .weui-dialog__bd
        line-height: 1
        min-height: 0 
        padding-bottom: 20px




