header
     height 50px
     line-height 50px
     text-align center
     box-shadow 0 2px 1px rgba(0,0,0,0.05)
     background #fff
     .header_goback
         width 40px
         height 100%
         .header_back
            margin-top 17px
            margin-left 15px
            display block
            background url(/build/img/back.png)
            width 10px
            height 16px
            background-size 10px 17px
     .header_goback,.header_title
         float left
     .header_title
         width calc(100% - 80px)
         font-size 18px
