$color-primary = #268fff
$color-gray = #f5f5f5
$color-darkgray = #dedede
$color-text-primary = #333333
$color-text-secondary = #3c3c3c
$color-red = #ff1818


$color-desc-primary = #797979
$color-desc-secondary = #999999
$color-desc-thrice = #ccc

