
#app
    width 100%

.footer-tab
    color #999
    background #fff
    position fixed
    width 100%
    bottom 0
    left 0
    height 1.333333rem
    z-index 999
    display flex
    -webkit-box-align center
    -webkit-box-pack justify
    align-items center
    box-shadow 0 -0.026667rem 0.053333rem rgba(0,0,0,.1)
    a
        color #999
        text-decoration none
    .active
        color #E9314A
    .footer-tab-item
        display block
        flex 1
        text-align center
        i
            display block
            font-size .64rem
            margin 2px auto 10px
            padding 2px

