
.guoxuechunwan-ads
    position fixed
    width 194px
    height 227px
    bottom 50px
    background url(/build/img/ads/guoxuechunwan.png) 0 0 no-repeat
    left 50%
    margin-left -780px
    z-index 999

    .close-ads
        position absolute
        width 20px
        height 20px
        right 16px
        top 11px

@media screen and (max-width: 1580px)
    .guoxuechunwan-ads
        left 0
        margin-left 0


