*
    margin 0
    padding 0
.navbar
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05)
    height .5rem
    .icon-logo
        display inline-block
        width 28px
        height 28px
        background url(/build/img/activity/logo.png)
        background-size 100%
        margin-right 3px
    .navbar-text
        background: #ffffff
        text-align: center
        font-size: .18rem
        color #333
        &.row
            display flex

        .nav-title
            height: .5rem
            line-height: .5rem
        .col
            flex 1

        .nav-icon-left
            line-height: .5rem
            margin-left: 0
            width .4rem
            text-align center
            .go-back
                background url('/build/img/icon/back.png')
                width .1rem
                height .17rem
                background-size .1rem .17rem
        .nav-icon-right
            line-height: .5rem
            height: .5rem
            width: .4rem   
            font-size: 14px
            text-align: left
.fixed-header
    position: fixed
    height .5rem
    top: 0
    width: 100%
    z-index 100
.h5-wrap
    margin-top .5rem
    .h5-content
        background-position center
        background-repeat no-repeat
        background-size 100%
    .cont1
        height 2.71rem
        background-image url(/build/img/activity/app1-n.jpg)
        background-color #0a0a1d
        color #fff
        text-align center
        position relative
        h2
            font-size 0.2rem
            padding-top 0.35rem
            padding-bottom 0.25rem
        ul
            font-size .1rem
            width 2.2rem
            margin 0 auto
            padding-bottom .13rem
            li
                width .8rem
                display inline-block
                border 1px solid #fff
                border-radius 10px
                line-height .2rem
                margin 0 .1rem
                span
                    height .2rem
                    display inline-block
                    position relative
                    padding-left .14rem
                    color #fff
                    i
                        width .12rem
                        height .2rem
                        background-size .12rem .15rem
                        background-repeat no-repeat
                        background-position left center
                        display inline-block
                        position absolute 
                        left 0
                        top 50%
                        margin-top -.11rem  
                    .ios
                        background-image url(/build/img/activity/ios.png)
                    .android
                        background-image url(/build/img/activity/android.png)
        .mobile-bg
                background url(/build/img/activity/iphone.png) no-repeat center 100%/100%
                width 1.16rem
                height 1.44rem
                position absolute
                bottom 0
                left 50%
                margin-left -0.58rem  
                p
                    font-size .08rem
                    padding .42rem 0 .05rem
                img
                    width .77rem
                    height .77rem
                    margin 0 auto;
                    display back 
                
        p
            padding-bottom .17rem
            font-size .12rem  
    .cont2 
        height 3.35rem
        background-image url(/build/img/activity/app2.jpg)
        text-align center
        h2
            
            color #333
            font-size .22rem
            padding .27rem 0 .13rem
        p
            width 3.11rem
            color #999
            font-size .12rem
            line-height 1.5
            margin 0 auto
    .cont3 
        height 3.35rem
        background-image url(/build/img/activity/app3.jpg)
        background-color #81a79c
        .text
            width 1.6rem
            float right
            margin-right .2rem
            line-height .2rem 
            color #fff
            padding-top 1.02rem
            h2
                font-size .22rem
                text-align center
                letter-spacing .1rem
                padding-bottom .1rem
            p
                font-size .12rem
                letter-spacing .005rem
                line-height 1.5
    .cont4 
        height 3.36rem
        background-image url(/build/img/activity/app4.jpg)
        background-color #fff
        background-size 2.58rem
        background-position center bottom
        text-align center
        h2
            
            color #333
            font-size .22rem
            padding .27rem 0 .13rem
        p
            width 3.11rem
            color #999
            font-size .12rem
            line-height 1.5
            margin 0 auto
    .cont5
        height 3.36rem
        background-image url(/build/img/activity/app5.jpg)
        background-color #753da3
        .text
            width 1.6rem
            float left
            margin-left .2rem
            line-height .2rem 
            color #fff
            padding-top 1.25rem
            h2
                font-size .22rem
                letter-spacing .1rem
                padding-bottom .1rem
            p
                font-size .12rem
                letter-spacing .005rem
                line-height 1.5
    .cont6 
        height 3.35rem
        background-image url(/build/img/activity/app6.jpg)
        background-color #fff
        text-align center
        h2
            
            color #333
            font-size .22rem
            padding .27rem 0 .13rem
        p
            width 3.11rem
            color #999
            font-size .12rem
            line-height 1.5
            margin 0 auto
    .cont7
        height 3.35rem
        background-image url(/build/img/activity/app7.jpg)
        background-color #000
        color #fff
        text-align center
        h2
            font-size 0.2rem
            padding-top 0.25rem
            padding-bottom 0.14rem
        p
            padding-bottom .25rem
            font-size .12rem
        .code
            width 1.74rem
            background-color #fefef7
            margin 0 auto
            img
                display inline-block 
                width 100%
            p
                padding 0
                padding-bottom .1rem
                font-size .1rem
                color #333
                
    
