.clearfix:before, .clearfix:after
    display: table;
    content: " ";
.clearfix:after
    clear: both;
.wt-thumbnail
    background rgba(255, 255, 255, .9)
.section-head-bg
    //background url('/build/img/activity/new-year/head-bg.png') no-repeat
    background url('/build/img/activity/new-year/head-1-bg.jpg') no-repeat center 0
    max-width 1920px
    height 673px
.section-notice-bg
    background url('/build/img/activity/new-year/data-2-bg.jpg') no-repeat 0 -1px
    max-width 1920px
    height 2799px
.section-notice
    .data-start
        position relative
        background url('/build/img/activity/new-year/data-start-bg-fs8.png') no-repeat -6px -11px
        background-size 1200px 393px
        .lantern-left-bg
            position absolute
            top -4px
            left -59px
            width 82px
            height 238px
            background url('/build/img/activity/new-year/lantern-left-bg.png') no-repeat
            background-size 100%
        .lantern-right-bg
            position absolute
            top -4px
            right -61px
            width 113px
            height 294px
            background url('/build/img/activity/new-year/lantern-right-bg.png') no-repeat
            background-size 100%
        .data-title
            display flex
            align-items flex-end
            padding-top: 30px;
            padding-bottom 10px
            padding-left 20px
            font-size 16px
            .title-icon
                background url('/build/img/activity/new-year/icon-start.png') no-repeat
                //display inline-block
                width 55px
                height 73px
            .title-text
                //display inline-block
                font-size 28px
                padding 0 19px 0 14px
            .title-desc
                flex 1
            .more
                padding-right 55px
                i
                    padding-left 8px
            .title-desc, .more
                color #666
            .title-text, .title-desc, .more
                padding-bottom 15px
    .list
        margin-left: -6px;
        margin-right: -6px;
        img
            max-width 100%
        .col-3
            padding-left: 6px;
            padding-right: 6px;
            width: 25%;
            float: left;
            margin-bottom 20px

    .data-book
        margin-top 80px
        position relative
        .lantern-left-bg
            position absolute
            top -4px
            left -75px
            width 99px
            height 285px
            background url('/build/img/activity/new-year/lantern-left-1-bg.png') no-repeat
            background-size 100%
        .lantern-right-bg
            position absolute
            top -2px
            right -45px
            width 95px
            height 238px
            background url('/build/img/activity/new-year/lantern-right-1-bg.png') no-repeat
            background-size 100%
        .data-title
            display flex
            align-items flex-end
            height 71px
            padding-left 20px
            border 1px solid #bfbfbf
            background #dcdcdc
            font-size 16px
            .title-icon
                background url('/build/img/activity/new-year/icon-book.png') no-repeat center
                width 76px
                height 71px
            .title-text
                font-size 28px
                padding 0 19px 0 14px
            .title-desc
                flex 1
            .more
                padding-right 55px
                i
                    padding-left 8px
            .title-desc, .more
                color #666
            .title-text, .title-desc, .more
                padding-bottom 18px
        .free-bg
            background url('/build/img/activity/new-year/free-bg.png') no-repeat -30px 0
            height 81px
            margin-top 20px
        .pay-bg
            background url('/build/img/activity/new-year/pay-bg.png') no-repeat -30px 0
            height 81px
            margin-top 20px
    .notice
        margin-top 60px
        .title
            background url('/build/img/activity/new-year/notice-title-bg.png') no-repeat
            height 51px
            line-height 51px
            font-size 28px
            color #fff
            letter-spacing: 9px;
            padding-left: 11px;
        .content
            margin-top 37px
            background url('/build/img/activity/new-year/notice-bg.png') no-repeat
            height 578px
            padding 110px 123px
            display flex
            align-items center
            justify-content space-between
            .single
                width 286px
                height 360px
                //border 1px solid red
                text-align center
            .one
                .one-title
                    margin-top 102px
                    font-size 16px
                .one-desc
                    margin-top 20px
                    font-size 14px
                .one-bottom
                    margin-top 125px
                    padding 0 20px
                    text-align left
                    line-height 24px
                    font-size 12px
                    color #fff
            .two
                .two-title
                    margin-top 37px
                    font-size 28px
                .two-desc1
                    font-size 16px
                    line-height 46px
                .two-desc2
                    font-size 12px
                .two-bottom
                    color #fff
                    font-size 16px
                    margin-top 170px
            .there
                .there-title
                    margin-top 45px
                    margin-bottom 22px
                    font-size 20px
                img
                    width 138px
                    //height 171px
                .there-bottom
                    margin-top 70px
                    font-size 16px
                    color #fff

.returnTop-new
    position fixed
    right 40px
    bottom 40px
    z-index 10
    background url('/build/img/activity/new-year/returnTop-new.png') no-repeat
    padding-top 3px
    width 115px
    height 239px
    text-align center
    li
        padding-bottom 10px
    a
        display block
        height 28px
        line-height 28px
        font-size 14px
        color #fff
        margin: 0 4px ;
    li:first-child a
        height: 20px;
        margin-top: 8px;
        line-height: 20px;
    .to-top
        height 42px
        cursor pointer
    a:hover, a:focus, a:visited
        background #d5a87e
    .code-common
        display none
        width: 105px;
        padding: 10px;
        position: absolute;
        left: -120px;
        top: -66px;
        background-color: #fff;
        text-align: center;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
        border-radius: 4px;
        font-size 12px
        img
            max-width 100%
    .share, .like
        position relative
    .share:hover .share-code, .like:hover .like-code
        display block


.returnTop
    display none






