
.header-active-appload{
    border-bottom: 4px solid #268fff;
    color: #268fff !important;	
}
   
*{
	margin: 0;
	padding: 0;
}
.content {
	max-width:1920px;
    margin:0 auto;   
	
}
.content .cont{
	min-width:1200px;
	background-repeat: no-repeat !important;
	background-position:center !important;
	background-size:cover !important;
	overflow:hidden !important;
  	
}
.content .cont .box{
	width:1200px;
	height:900px;
	position:relative;
    margin:0 auto !important;
    overflow:hidden;
}

.h{
	height:900px !important;
}

.content .page_one{
	height:875px;
	background:url("/build/img/pcAppload/bg1.jpg");	
}

.content .page_one .title{
	width: 100%;
	text-align: center;
	font-size :70px;
	color: #fff;
	margin-top: 145px;
	margin-bottom: 90px;
	
}

.content .page_one .title span:first-child{
	margin-right:73px;	
}
	

.content .page_one .btns{
	width: 100%;
	text-align:center;
}
.content .page_one .btns span{
	width:252px;
	height: 80px;
	font-size: 20px;
	display: inline-block;
	background: transparent;
	border-radius: 40px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 80px;
	color: #fff;
}
.content .page_one .btns span i{
	vertical-align: middle;
	display: inline-block;
	width: 40px;
	height: 45px;
	margin-right: 20px;	
}
.content .page_one .btns i:first-child{
	background:url('/build/img/pcAppload/ios1.png') no-repeat;
}

.content .page_one .btns .android{
    margin-left 80px
}

.content .page_one .btns .android i{
	background:url('/build/img/pcAppload/andrio.png') no-repeat;
	
}

.content .page_one .btns a:hover span{
    color: #000;
    background-color: #fff;
}
.content .page_one .btns a:hover .android i{
    background:url('/build/img/pcAppload/andrio_curb.png') no-repeat;
}
.content .page_one .btns a:hover .ios i{
    background:url('/build/img/pcAppload/ios1_curb.png') no-repeat;
}

.content .page_one .btns span:first-child{
	// margin-right: 40px;	
}
			
.content .page_one p{
	width: 100%;
	text-align:center;
	font-size: 40px;
	color: #fff;
	margin-top:45px;
}
.content .page_one .box{
    text-align:center;
    height:875px;
}
.content .page_one .box img{
    position:absolute;
    left:50%;
    bottom:0px;
    overflow:hidden;
   
}
.content .page_one .box .phone{
    margin-left:-148px;
    
}
.content .page_one .box .Qr{
    margin-left:-98px;
    bottom:40px
    width 200px;
}
.content .page_one .box .state{
    display:inline-block;
    font-size:20px;
    color:#fff;
    position:absolute;
    top:583px;
    margin-left :-150px;
    width 300px;
    text-align center
}

.page_two {
	background: url("/build/img/pcAppload/bg2.jpg");
}

.page_two .title,.page_four .title,.page_six .title{
	margin-top:100px;
}	
.page_two h3,.page_four h3,.page_six h3{
	text-align: center;
	font-size:52px;
	margin-bottom: 22px;
}

.page_two p,.page_four p,.page_six p{
    text-align: center;
	font-size:26px;
	color: #999;
	line-height: 1.5;
}

.content .page_three{
	width:100%;
    background: url("/build/img/pcAppload/bg3.jpg");
}	
.content .page_three .left{
	width:520px;
	position: absolute;
	left:0;
	bottom:0px;
}

.content .page_three .right{
	width:598px;
	color: #FFFFFF;
	position:absolute;
	right:0px;
	top:355px;
}
.content .page_three .right h3,.content .page_five .left h3{
	font-size:52px;
	margin-bottom: 22px;
}
.content .page_three .right p,.content .page_five .right p{
	font-size:26px;
	line-height: 1.5;
}

.content .page_four{
    background: url("/build/img/pcAppload/bg4.jpg");
  
}

.content .page_five{
    background: url("/build/img/pcAppload/bg5.jpg");
    color: #FFFFFF;
}
.content .page_five .left{
    width:630px;
    position: absolute;
    top:380px;
    left:0;
}

.content .page_five .left h3{
    font-size: 52px;
}
.content .page_five .left p{
    font-size: 26px;
    line-height: 1.5;
}
.content .page_five .right{
    position: absolute;
    bottom:0;
    right:0;
}

.content .page_six{
    background: url("/build/img/pcAppload/bg6.jpg");
   
}

.content .page_seven{
    color: #FFFFFF;
    background: url("/build/img/pcAppload/bg7.jpg");
    overflow:hidden
}

.content .page_seven .left{
    width:500px;
    height:550px;
    position:absolute;
    left:0px;
    top:124px;
    text-align center;
       
}
.content .page_seven .left img{
    width:100%;
}
.content .page_seven span{
    display:inline-block;
    position:absolute;
    bottom:26px;
    left:50%;
    margin-left:-134px;
    color:#000;
    font-size:26px;      
}
.content .page_seven .right{
    width:490px;
    position:absolute;
    right:105px;
    top:398px;
   
}
.content .page_seven .right h3{
    font-size: 52px;
    margin-bottom: 22px;
  
}
.content .page_seven .right p{
    font-size:26px;
    line-height:1.5;
   
}


.locale-en .page_two,
.locale-en .page_three,
.locale-en .page_four,
.locale-en .page_five
{
    display: none;
}
