.clearfix:before, .clearfix:after
    display: table;
    content: " ";
.clearfix:after
    clear: both;
h1, h2, h3, h4, h5, h6
    margin 0


/*commom*/
.course-list
    .title
        margin 37px 0 15px 0
        h3
            width 464px
            height 55px
            margin-left 365px
            display inline-block
        .more
            color #fff
            font-size 16px
            text-align center
            margin-right 30px
            background #e31b2e
            border-radius 18px
            width 120px
            height 36px
            line-height 36px
            i
                padding-left 8px
.border-top
    background url('/build/img/activity/spring-festival/border-top.png') no-repeat
    height 38px
    background-size 100%
.border-bottom
    background url('/build/img/activity/spring-festival/border-bottom.png') no-repeat
    height 42px
    background-size 100%
    position: relative;
    top: -20px;
.border-left
    background url('/build/img/activity/spring-festival/border-left.png') no-repeat
    background-size  1180px 100%
    padding 0 25px




.section-head-bg
    //background url('/build/img/activity/new-year/heabg.png') no-repeat
    background url('/build/img/activity/spring-festival/head-bg-2.jpg') no-repeat center -80px
    max-width 1920px
    height 700px
    text-align center
    img
        display inline-block
        margin-top  428px
        width 107px
        border-radius 3px
.section-notice-bg
    background #faecc5
    padding-top 94px
    .list
        margin-left: -6px;
        margin-right: -6px;
        img
            max-width 100%
        .col-3
            padding-left: 6px;
            padding-right: 6px;
            width: 25%;
            float: left;
            margin-bottom 20px
            .wt-thumbnail
                background: #ffffff;

    .discount
        height 100px
        background url('/build/img/activity/spring-festival/discount-bg.png') no-repeat center 0
        background-size 100%
        li
            float left
            width 25%
        a
            display inline-block
            margin-left 239px
            padding-top 5px
            width 42px
            height 100px
            font-size 20px
            color #f52441
            text-align center
            letter-spacing 2px
            border-bottom-right-radius 10px
            border-top-right-radius 10px
        .active
            background #d1d1d1
            color #fff
            pointer-events none
        .discount-50
            margin-left 243px
        .discount-100
            margin-left 248px
        .discount-200
            margin-left 254px
    .hot-course
        background url('/build/img/activity/spring-festival/hot-course-bg-2.png') no-repeat
        background-size: 100% 767px;
        margin-top: 37px;
        height: 767px;
        .title
            color #fff
            .more
                color #fff
                font-size 16px
                margin 30px 49px 0 0
                i
                    padding-left 8px
            h3
                display inline-block
                margin 23px 0 0 529px
                letter-spacing 3px
                font-size 28px
        .hot-list
            padding 65px 25px 24px 25px


    .course-20
        h3
            background url('/build/img/activity/spring-festival/20-title-bg.png') no-repeat
    .course-50
        h3
            background url('/build/img/activity/spring-festival/50-title-bg.png') no-repeat
            margin-left 355px
    .course-100
        h3
            background url('/build/img/activity/spring-festival/100-title-bg.png') no-repeat
            margin-left 310px
            width 548px
    .course-200
        h3
            background url('/build/img/activity/spring-festival/200-title-bg.png') no-repeat
            margin-left 310px
            width 548px

    .rules
        background url('/build/img/activity/spring-festival/rules.png') no-repeat
        background-size 100%
        height 242px
        color #f52441
        .title
            margin 37px 0 15px 0
            text-align center
            font-size 28px
            line-height 45px
            letter-spacing 3px
        .text
            line-height 1.5em
            font-size 16px
            padding-top: 25px;
            padding-left: 35px;

.returnTop-new
    position fixed
    right 40px
    bottom 40px
    z-index 10
    background url('/build/img/activity/spring-festival/slider-line-bg.png') no-repeat center 3px
    background-size 77px 300px
    padding-top 3px
    width 127px
    text-align center
    .js_toTop
        display none
    a
        display block
        width 127px
        height 34px
        background url('/build/img/activity/spring-festival/slider-bg.png') no-repeat
        line-height 34px
        font-size 14px
        color #ffba8c
        margin-top 10px
    .slide-hot
        margin-top 0
    .active, a:hover
        background url('/build/img/activity/spring-festival/slider-hover-bg.png') no-repeat
    .code-common
        display none
        width: 105px;
        padding: 10px;
        position: absolute;
        left: -120px;
        top: -66px;
        background-color: #fff;
        text-align: center;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
        border-radius: 4px;
        font-size 12px
        img
            max-width 100%
    .share, .like
        position relative
    .share:hover .share-code, .like:hover .like-code
        display block


.returnTop
    display none
/*modal*/
.cancel-modal
    position fixed
    top 0%
    left 0%
    display none
    background rgba(0, 0, 0, 0.6)
    width 100%
    height 100%
    z-index 999
    text-align center
    .canscroll
        height 730px
        overflow-y scroll
        .modal-content
            position absolute
            left 50%
            top 40%
            border-radius 8px
            width 420px
            height 220px
            background-color #fff
            transform translate(-50%, -50%)
            overflow hidden
            padding 10px 15px
            .m-header
                margin-top 10px
                text-align center
                img
                    width 56px
                    height 56px

            .close-modal
                color #ccc
                font-size 25px
                cursor pointer
            .m-title
                margin 20px 0
                .title
                    font-size 18px
                    font-weight 900
                .desc
                    font-size 14px
                    font-size #999999
                    margin 10px 0 0 0
            .cancel-btn
                .use
                    display inline-block
                    width 126px
                    height 40px
                    line-height 40px
                    background #268fff
                    color #fff
                    border-radius 4px
                    font-size 18px

            .border
                border 1px solid #f5f5f5
                background #dedede
                color #333
                border-radius 4px
.wt-thumbnail .caption .other
    overflow hidden
    text-overflow: ellipsis;
    white-space: nowrap
    height 16px
    span
        line-height: 1em;
    .original-price
        font-size 16px
