.icon-exclam
    display inline-block
    width 81px
    height 81px
    background url(../img/exclam.png) 0 0 no-repeat
    margin 12px 0 12px
.reset-password-modal-wrap
    .m-header
        text-align center
        font-size 16px
    .m-footer
        margin-top 16px