
html,body,.wt-root
    height 100%

.weui-icon_toast
    display inline-block !important
.weui-dialog__bd
    padding-bottom 14px !important
.weui-btn_warn,.weui-toptips_warn
    background-color #268fff !important
.weui-dialog__bd:first-child
    padding 1.2em 20px 1.1em !important
.weui-dialog__bd
    text-align center !important
    font-size 15px !important
    line-height 1.5 !important
.weui-dialog__btn,.weui-dialog__btn_default
    color #268fff !important
.weui-skin_android
    .weui-dialog__ft
        display flex
        position relative !important
        text-align center !important
        padding 0 !important
        &:after
            display block
    .weui-dialog__btn
        padding 0
    .weui-dialog__btn:after
        display block
    .weui-dialog__btn:last-child
        margin-right 0

.buyertrade_area
    height 100%
    padding-top 50px
    .buyertrade_title
         font-size 14px
         color #333
         height 37px
         line-height 20px
         padding 10px 15px
    .buyertrade_line
        height 2px
        width 100%
        background #F5F5F5
    .buyertrade_edu
        height 40px
        line-height 40px
        font-size 12px
        color #3c3c3c
        img
           width 20px
           height 20px
           display block
           margin 10px 5px 10px 15px
           float left
           border-radius 50%
    .buyertrade_info
        height 92px
        background #FBFBFB
        border-bottom 10px solid #fff
        display flex
        .left
            float left
            height 62px
            width 110px
            margin 10px 10px 10px 15px
            img
               width 100%
               height 100%
        .right
            float left
            flex 1
            margin-right 15px
            .name
                width 100%
                height 14px
                font-size 12px
                color #3c3c3c
                line-height 14px
                margin-top 16px
            .price
                margin-top 22px
                color #ff1818
                font-size 12px
                height 14px
                line-height 14px
    .buyertrade_coupon
        height 77px
        line-height 57px
        border-bottom 10px solid #F5F5F5
        border-top 10px solid #F5F5F5
        padding-left 15px
        .coupon_title
            float left
            font-size 14px
        .coupon_select
            float right
            font-size 12px
            color #999
        .ion-ios-arrow-back
            float right
            color #999999
            transform rotate(-180deg)
            margin -1px 15px 0 10px
    .buyertrade_footer
        position fixed
        bottom 0
        width 100%
        border-top 1px solid #ECECEC
        div
            width 100%
            display flex
            bottom 0
            height 50px
            line-height 50px
            justify-content center
            .left
                color #3c3c3c
                font-size 14px
                padding-left 15px
                flex 1
                .price
                    color #ff1818
            .right
                width 130px
            .btn
                font-size 16px
                color #fff
                background #268fff
                justify-content center

