.pay-type-wrap
    padding:0 20px;
    .main
        padding-top:60px;
        img
            height:130px;
            margin:0 auto 15px;
            display:block;
        .type-text
            font-size:16px;
            font-weight:bold;
            text-align:center;
            padding-bottom:5px;
            &.color-red
                color:#FF1818;
            &.color-blue
                color:#268FFF;
        .tips
            color:#FA9532;
            font-size:12px;
            &.blue
                color #268FFF
                text-align center
    .btn-cont
        padding-top:60px;
        a
            width:100%;
            display:inline-block;
            border-radius:5px;
            line-height:45px;
            text-align:center;
            color:#fff;
            background-color:#268FFF;
            &.no-bg
                background-color transparent
                border 1px solid #268FFF
                color #268FFF
                line-height:43px;
        &.btn-list-2
            a
                width:calc(50% - 18px);
                float:left;
                &.red
                    background-color:#FF1818;
                &:first-child
                    margin-right:18px;
                &:last-child
                    margin-left:18px;
    .loading    
        min-height 300px
        text-align center
        padding-top 200px
        img 
            width 100px
    .pay-type-0
        display block
    .pay-type-1
        display none
            