body
    background: #fff

.my-about
    padding-top 50px

.logo
    width 48px
    height 64px 
    background: url("/static/img/logo.png") no-repeat
    background-size: 100%    
    margin: 30px auto 0 auto
.version
    font-size 12px
    text-align center
    color #666
.about_area
    margin-top 10px
    font-size 14px
    padding 0 12px
    color #666
    p
       text-indent 28px
    .title
        margin-top 10px

.ft
    margin-top 25px
    bottom: 20px
    width: 100%
    text-align: center
    color #999
    font-size: 12px
    line-height: 18px
