.center
    .white_bg
        background #fff
    .center-header
        position relative
        padding 10px
        color #333
        text-align center      
        box-shadow 0px 3px 10px #F4F4F4
        .nav-icon-left
            position absolute
            left 10px
            top 7px
            .ion-ios-arrow-left
                font-size 23px
                font-weight 300
        .center_title
            font-size 18px
