@import "./header.styl"

body
    background: #f5f5f5

.pay-main
    .order_detail
        padding 20px 10px
        .cell
            font-size 14px
            color #333
            .label
                font-weight 500
            .detail
                color rgba(68, 68, 68, 0.9)
        .cell:first-child
            padding-bottom 10px      
    .coupon,.pay_money
        // padding 20px 10px
        font-size 14px
        margin-top 12px
        // border-top 1px solid #f5f5f5
        .select
            font-size 12px
            color #999
        .border
            .label
                color #333
                font-weight 500
            .money
                color #FF1818
        .pay_method
            .weui-cell__bd
                .icon
                    border-radius 5px
                .pay_desc
                    margin-left 10px
                    p
                        font-size 16px
                        color #333
                    .intro
                        font-size 14px
                        color #999

    .pay_method
        padding-right: 0
