.course_item
    padding 20px 0px
    margin 0px 10px
    border-bottom 2px solid #f5f5f5
    .course_img
        width 133px
        height 82px
        background  url(/static/img/icon/default.png)
        background-size 133px 82px
        position relative
        img
            width 133px
            height 82px
            display block
    .course_desc
        margin-left 15px
        p
            font-size 16px
            color #3C3C3C
            line-height 20px
        .price
            font-size 14px
            color #FF1818
            margin-top 30px
        .free
            color #268FFF
