.select-modal
    position fixed
    top 0%
    left 0%
    display none
    background rgba(0, 0, 0, 0.3)
    width 100%
    height 100%
    z-index 999
    text-align center
    .canscroll
        overflow-y scroll
        .modal-content
            position absolute
            width 100%
            bottom 0px
            height 200px
            overflow-y scroll
            background #fff
            .cancel-btn
                padding 10px 30px
                color #4BA7FF
                font-size 18px
                a
                    display inline-flex
                    color #268FFF
                    font-size 16px  
            .reason_li
                   .item-res  
                       font-size 16px  
                       padding 7px
                    .item-res:hover
                        color #fff
                        background #268FFF
                    .select
                        color #fff
                        background #268FFF        
