@import "../components/loading.styl"

.course-list
    &.discovery_center 
        .discovery_filter 
            .discovery_filter_screen 
                .discovery_filter_screen_area
                    height: 200px

.mask
    top: 100px

.discovery_list_img
    position: relative
    padding: 0 !important
    margin: 0 10px
    .coupon-sign
        position absolute
        top 6px
        right 10px
        padding-right 8px
        padding-left 8px
        font-size 12px
        height  20px
        line-height 20px
        border-top-left-radius 10px
        border-bottom-left-radius 10px
        display inline-block
        background red
        color #fff

    .progress
        position: absolute
        bottom: 0
        text-align: center
        width: 100%
        color: #fff
        line-height: 25px
        height: 25px
        background: rgba(38,143,255, .7)
        font-size: 12px






.discovery_list_info_start
    height 20px
    color #268fff
    font-size 14px
