
.page-institute-list
    background #fff
    color #333
    .top-bar
        //height 190px
        position fixed
        top 0
        left 0
        width 100%
        z-index 1
    .mint-header
        height 90px
        font-size 36px
        background #E9314A
    .mintui-back
        font-size 36px
    .content
        padding-top 190px


