html {
  font: normal normal normal 16px/150% -apple-system, BlinkMacSystemFont, 'PingFang SC', "Microsoft YaHei", 微软雅黑, 'STHeitiSC-Light', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  background: linear-gradient(to top, #FFF, #f0f0f0);
  color: #333;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  position: relative;
  background: #FFF;
  font-size: 1rem;
  min-width: 20rem;
}

section {
  position: relative;
  overflow: auto;
}

a {
  text-decoration: none;
  color: #555;
  transition: color .3s, background-color .3s;
}

a:hover {
  color: #000;
}

.text-light {
  color: #999;
}

img {
  max-width: 100%;
}

video {
  width: 100%;
}

.hidden {
  display: none !important;
}

.middle {
  text-align: center;
}

.full {
  width: 100%;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 150%;
}

h2,
h3 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  line-height: 150%;
}

img.full {
  width: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: justify;
  /*word-break: break-all;*/
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

:focus {
  outline: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.relative {
  position: relative;
  width: 100%;
  overflow: auto;
}

span.red {
  color: #e9314a;
}

.container {
  position: relative;
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 .5rem;
  box-sizing: border-box;
}

.old-ie {
  display: none;
  font-size: .8rem;
  line-height: 1.5;
  padding: .5rem 0;
  font-weight: bold;
  text-align: center;
  background: #f0f0f0;
}

header.page-header {
  position: fixed;
  left: 0;
  top: 0;
  height: 4rem;
  padding: .5rem 0;
  box-sizing: border-box;
  z-index: 1024;
  background: #FFF;
  font-size: 1rem;
  line-height: 1rem;
  overflow: hidden;
}

.navbar-brand.brand {
  float: left;
  white-space: nowrap;
}

.navbar-brand.brand img.logo {
  vertical-align: middle;
  margin-right: 1rem;
  height: 3rem;
  width: auto;
}

nav.navbar {
  width: 20rem;
  float: right;
  font-weight: bold;
}

ul.navbar-nav {
  display: flex;
}

ul.navbar-nav>li {
  flex-grow: 1;
}

ul.navbar-nav>li>a {
  position: relative;
  display: block;
  text-align: center;
  margin: 1rem;
  transition: color .3s;
}

ul.navbar-nav>li>a:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -.4rem;
  left: 0;
  height: .15rem;
  width: 100%;
  background: #e9314a;
  pointer-events: none;
  transform: translateY(1rem);
  opacity: 0;
  transition: all .3s;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li.active>a {
  color: #e9314a;
}

ul.navbar-nav>li>a:hover:after,
ul.navbar-nav>li.active>a:after {
  transform: none;
  opacity: 1;
}

.page-content {
  padding-top: 4rem;
  min-height: 100vh;
  min-height: calc(100vh - 19rem);
  background: #f0f0f0;
}

.section-header {
  padding: 6rem 0;
  color: white;
}

.section-header-title>h1 {
  font-size: 2.8rem;
  line-height: 1.5;
  margin: 0;
  margin-top: 3.2rem;
}

.section-header-title>h2 {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: normal;
  margin: 0;
}

.section-middle-title>h2 {
  text-align: center;
  margin: 0;
  font-size: 2rem;
  line-height: 1.5;
}

.section-header-qrcode {
  width: 26rem;
}

.section-header-qrcode>.qrcode-image {
  position: relative;
  width: 12rem;
  margin: .5rem;
  background: #FFF;
  border-radius: .5rem;
}

.section-header-qrcode>.qrcode-image>img {
  width: 100%;
  height: auto;
}

.section-header-qrcode>.qrcode-image>.qrcode-image-info {
  line-height: 3rem;
  font-size: .8rem;
  margin-top: -3rem;
  text-align: center;
  color: #333;
  font-weight: bold;
}

.qrcode-info {
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 2rem;
  font-size: 1rem;
}

.download-button {
  display: inline-block;
  font-size: .8rem;
  font-weight: bold;
  line-height: 1rem;
  padding: .75rem 1rem;
  margin: 2.25rem 1rem;
  width: 8rem;
  text-align: center;
  border-radius: 1.5rem;
  background: #e9314a;
  color: #FFF;
}

.download-button:hover {
  color: #FFF;
  filter: brightness(.9);
}

.section-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.section-background>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-title {
  font-weight: normal;
  color: #666;
}

.section-main {
  position: relative;
  overflow: hidden;
}

.section-main.symbol-first .section-column2 {
  order: 1;
}

.section-main.symbol-first .section-column1 {
  order: 2;
}

.section-main.symbol-first .section-col-text {
  text-align: right;
  float: right;
}

.section-main.symbol-first .section-col-symbol {
  float: left;
}

.section-main>.container {
  display: flex;
}

.section-column1,
.section-column2 {
  width: 50%;
}

.section-column1 {
  padding: 5rem 0;
}

.section-col-text {
  position: relative;
  float: left;
}

.section-col-text.white h2,
.section-col-text.white h3 {
  color: #FFF;
}

.section-col-text h3 {
  color: #999;
}

.section-col-text>h2 {
  font-size: 2.8rem;
  line-height: 3.5rem;
  margin: 0;
}

.section-col-text>h3 {
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0;
  font-weight: normal;
}

.section-col-text>.section-textsymbol {
  margin-top: 2rem;
  height: 20rem;
  width: 24rem;
  max-width: 100%;
  display: inline-block;
}

.section-col-text>.section-textsymbol>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-col-symbol {
  position: relative;
  width: 24rem;
  height: 36rem;
  margin-top: 2rem;
  float: right;
}

.section-symbol1 {
  z-index: 20;
}

.section-symbol1,
.section-symbol2 {
  position: absolute;
  left: 0;
  top: 0;
}

.section-symbol1>img,
.section-symbol2>img {
  width: 100%;
  height: auto;
}

#s01_01 {
  left: 1rem;
  top: 0;
  width: 18rem;
}

#s01_02 {
  left: 9rem;
  top: 6rem;
  width: 20rem;
}

#s01_03 {
  position: absolute;
  left: 0rem;
  top: 11rem;
  width: 20rem;
  z-index: 30;
}

#s02_01 {
  left: -3rem;
  top: 1rem;
  width: 29rem;
}

#s02_02 {
  left: -8rem;
  top: 0;
  width: 32rem;
}

#s03_01 {
  left: -2rem;
  top: 1rem;
  width: 29rem;
}

#s03_02 {
  left: 1rem;
  top: 0;
  width: 32rem;
}

#s04_01 {
  left: 5rem;
  top: 0;
  width: 19rem;
}

#section1 {
  background: rgba(0, 0, 0, 0);
}

#section2 {
  background: linear-gradient(to bottom, #4687ff, #3da1ff);
}

#section3 {
  background: linear-gradient(to bottom, #ff8d38, #ffa15b);
}

#section4 {
  background: url('../images/s04_footer.png') 100% bottom no-repeat;
  background-size: 100%;
}

.section-joinus,
.section-jobs,
.section-about,
.section-contact {
  padding-top: 3rem;
}

.section-jobs,
.section-contact {
  padding-bottom: 3rem;
}

.comparison-wrapper {
  display: flex;
  width: 100%;
}

.comparison-no,
.comparison-yes {
  width: 40%;
  position: relative;
  box-shadow: 0 1rem 3rem rgba(153, 153, 153, .6)
}

.comparison-yes {
  box-shadow: 0 1rem 3rem rgba(233, 49, 74, .6)
}

.comparison-no>img,
.comparison-yes>img {
  display: block;
  width: 100%;
}

.comparison-vs {
  width: 20%;
  padding: 2rem;
  box-sizing: border-box;
}

.comparison-vs>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.comparison-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.comparison-text>li {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  height: 25%;
  color: #FFF;
}

table {
  line-height: 1.5;
}

th {
  text-align: left;
  padding: 1rem 2rem;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 1rem;
  background: #f0f0f0;
}

td {
  text-align: left;
  padding: .8rem 2rem;
  box-sizing: border-box;
  font-weight: normal;
  border-bottom: 1px solid #f0f0f0;
  font-size: .8rem;
}

.table-index {
  width: 30%;
}

.table-info {
  width: 60%;
}

.table-control {
  width: 10%;
}

.table-content {
  font-size: .8rem;
  line-height: 2;
  padding: 0;
  border: none;
}

.table-content.open {
  border-bottom: 1px solid #f0f0f0;
}

.table-content>div {
  box-sizing: border-box;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s;
}

.table-content>div>p {
  padding: 2rem;
}

.table-content.open>div {
  max-height: 100rem;
}

.table-button {
  width: .8rem;
  height: .8rem;
  margin: .4rem;
  background-size: 100%;
  background-image: url('../images/plus.png');
  cursor: pointer;
}

.table-button.open {
  background-image: url('../images/minus.png');
}

.qrcode-about {
  width: 10rem;
  height: 10rem;
  display: inline-block;
}

.qrcode-about>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#amap {
  height: 100%;
}

.section-feedback {
  padding: 4rem 0;
}

.panel {
  position: relative;
  padding: 3rem 1.5rem;
  overflow: auto;
  background: #FFF;
  display: flex;
  font-size: .9rem;
  line-height: 1.8;
}

.panel-column {
  flex-grow: 1;
  width: 50%;
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.panel-column.full {
  width: 100%;
}

.panel-column.free {
  width: auto;
}

.panel-column.image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.panel-column.form-image>img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}

.form-row {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  font-size: .9rem;
}

.form-row.content {
  height: auto;
}

.form-row>label {
  position: absolute;
  left: 0;
  line-height: 2.5rem;
}

.button-select,
.button-submit {
  border-radius: 0;
  border: 1px solid #999;
  color: #999;
  box-sizing: border-box;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  width: 46%;
  margin: 0 2%;
  float: left;
  font-size: .9rem;
  padding: 0;
  cursor: pointer;
}

.button-select.active {
  border: 1px solid #e9314a;
  color: #e9314a;
}

.form-input,
.form-textarea {
  border-radius: 0;
  border: 1px solid #999;
  color: #333;
  box-sizing: border-box;
  line-height: 2.5rem;
  height: 2.5rem;
  font-size: .8rem;
  padding: 0 1rem;
  width: 96%;
  margin: 0 2%;
  display: block;
}

.form-input.invalid,
.form-textarea.invalid {
  border: 1px solid #e9314a;
}

.form-textarea {
  height: 7rem;
  line-height: 1.5;
  padding: .5rem 1rem;
  resize: none;
}

.button-submit {
  float: right;
  background: #e9314a;
  color: #FFF;
  outline-width: 0;
  border: none;
}

.button-submit:hover {
  filter: brightness(.9);
}

.button-submit.disabled {
  opacity: .6;
  pointer-events: none;
}

#notify {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  pointer-events: none;
}

#notify.show {
  display: block;
}

#notify-text {
  position: absolute;
  margin: auto;
  width: 10rem;
  height: 5rem;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  text-align: center;
  color: #FFF;
  line-height: 5rem;
  font-size: 1rem;
  font-weight: bold;
  opacity: .6;
}

.footer-info {
  font-size: .8rem;
  line-height: 1.5;
  padding: 2rem .5rem;
  overflow: auto;
}

.footer-brand {
  float: left;
  font-size: .9rem;
  line-height: 1.5rem;
}

.footer-brand img.logo {
  width: auto;
  height: 4.5rem;
}

.footer-control {
  float: right;
  line-height: 2rem;
}

.footer-control>div {
  display: inline-block;
}

.footer-control a {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  float: right;
}

.footer-control img {
  width: 100%;
  height: 100%;
}

.footer-about {
  text-align: center;
  font-size: .7rem;
  line-height: 1.5;
  padding: 1rem .5rem;
  background: #f0f0f0;
}

.follow-info {
  padding: 1.4rem .6rem;
  width: 10rem;
  line-height: 1.6rem;
  text-align: right;
  float: right;
}

.icon {
  display: inline-block;
  width: .8rem;
  height: 1rem;
  margin-right: .3rem;
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon-apple {
  background-image: url('../images/icon_apple.png');
}

.icon-android {
  background-image: url('../images/icon_android.png');
}

.icon-smile {
  background-image: url('../images/icon_smile.png');
}

.icon-cry {
  background-image: url('../images/icon_cry.png');
}

@media only screen and (max-width: 5120px) {
  html {
    font-size: 64px;
  }
}

@media only screen and (max-width: 4480px) {
  html {
    font-size: 56px;
  }
}

@media only screen and (max-width: 3840px) {
  html {
    font-size: 48px;
  }
}

@media only screen and (max-width: 3840px) {
  html {
    font-size: 40px;
  }
}

@media only screen and (max-width: 3200px) {
  html {
    font-size: 32px;
  }
}

@media only screen and (max-width: 2560px) {
  html {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1920px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .section-header-title>h1 {
    font-size: 2rem;
    margin-top: 1.6rem;
  }
  .section-header-title>h2 {
    font-size: 1.2rem;
  }
  .section-col-text>h2 {
    font-size: 1.8rem
  }
  .section-col-text>h3 {
    font-size: 1.2rem
  }
  .section-header-qrcode {
    width: 22rem;
  }
  .section-header-qrcode>.qrcode-image {
    width: 10rem;
  }
  .section-header-qrcode>.qrcode-image>.qrcode-image-info {
    line-height: 2.5rem;
    margin-top: -2.5rem;
  }
  .qrcode-info {
    font-size: 1rem;
  }
  .download-button {
    margin: 1.25rem .5rem;
  }
  .comparison-text>li {
    font-size: .8rem
  }
  .panel {
    font-size: .8rem;
    padding: 2rem 1rem;
  }
  .panel-column {
    padding: 1rem;
  }
}

@media only screen and (max-width: 860px) {
  .section-header-title>h1 {
    font-size: 2rem;
    margin-top: 1.6rem;
  }
  .section-header-qrcode {
    width: 16rem;
  }
  .section-header-qrcode>.qrcode-image {
    width: 7rem;
  }
  .section-header-qrcode>.qrcode-image>.qrcode-image-info {
    line-height: 2rem;
    margin-top: -2rem;
    font-size: .7rem;
  }
  .qrcode-info {
    font-size: .8rem;
  }
  .download-button {
    display: block;
    margin: .75rem auto;
  }
  .section-col-symbol {
    transform: translateX(4rem);
  }
  .section-main.symbol-first .section-col-symbol {
    transform: translateX(-4rem);
  }
  .comparison-text {
    padding: 1rem .5rem;
  }
  .panel {
    font-size: .7rem;
    padding: 1rem .5rem;
  }
  .panel-column {
    padding: .5rem;
  }
}

@media only screen and (max-width: 680px) {
  header.page-header {
    height: 6.5rem;
    text-align: center;
  }
  main {
    margin-top: 6.5rem;
  }
  .navbar-brand.brand {
    float: none;
  }
  nav.navbar {
    float: none;
    display: inline-block;
    width: 100%;
  }
  ul.navbar-nav>li>a {
    margin: 1rem .75rem;
  }
  .section-header {
    padding: 4rem 0;
  }
  .section-header-title {
    text-align: center;
    float: none;
    width: 100%;
  }
  .section-header-qrcode {
    float: none;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .section-header-title>h1 {
    margin: 0;
  }
  .section-main.symbol-first .section-column1,
  .section-column1,
  .section-column2 {
    order: 1;
    width: 100%;
  }
  .section-main.symbol-first .section-col-text,
  .section-col-text,
  .section-title {
    float: none;
    text-align: center;
  }
  .section-col-text>.section-textsymbol {
    height: 12rem;
  }
  .section-column2 {
    display: none;
  }
  .panel {
    display: block;
  }
  .panel-column {
    width: 100%;
  }
  .section-feedback .panel-column.image {
    display: none;
  }
  .panel-column.free>p {
    padding-right: 9rem;
  }
  .qrcode-about {
    width: 6rem;
    height: 6rem;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
  }
  #amap {
    height: 20rem;
  }
  th {
    padding: .6rem .4rem;
  }
  td {
    padding: .4rem;
  }
  .table-content>div>p {
    padding: 1rem;
  }
  .comparison-wrapper {
    display: block;
    text-align: center;
  }
  .comparison-no,
  .comparison-yes {
    height: 12rem;
    width: auto;
    display: inline-block;
  }
  .comparison-vs {
    height: 8rem;
    width: 100%;
    display: block;
  }
  .comparison-no>img,
  .comparison-yes>img {
    width: auto;
    height: 100%;
  }
  .footer-brand,
  .footer-control {
    float: none;
    text-align: center;
  }
  .footer-control a {
    margin-top: 1rem;
    float: none;
    width: 8rem;
    height: 8rem;
  }
  .follow-info {
    padding: 0;
    float: none;
    text-align: center;
  }
}
