html,body
  padding 0
  margin 0
  width 100%
  height 100%
  font-family "Microsoft YaHei"
ul
  list-style none
  padding 0
  margin 0
img
  display block
  border none
a
  text-decoration none
.pull-left
  float left
.pull-right
  float right
.text-right
  text-align right
.text-center
  text-align center
.size12
  font-size 12px
.size14
  font-size 14px
.clearfix:after
  display table
  clear both
  content ""

/* Dialog
  --------------------------*/
  .j-dialog
    .el-dialog__header
      padding 8px 10px
      background-color #268fff
      .el-dialog__title
        color #fff
        font-size 14px
      .el-dialog__headerbtn
        top 10px
        right 8px
        .el-dialog__close
          color #fff
    .el-dialog__body
      padding 10px 20px 50px 10px
  .el-message-box
    border none
    .el-message-box__header
      padding 8px 10px
      background-color #268fff
      .el-message-box__title
        span
          color #fff
          font-size 14px
      .el-message-box__headerbtn
        top 10px
        right 10px
        .el-message-box__close
          color #fff

/* Menu
  --------------------------*/
.el-menu.w-menu
  min-width 210px
  max-width 260px
  border 0

