.icon-bind-phone
    display inline-block
    width 68px
    height 82px
    margin 12px 0 17px
    background url(../img/bind-phone.png) 0 0 no-repeat
.bind-phone-modal-wrap
    .m-header
        text-align center
        font-size 16px
        margin-top 10px
    .m-footer
        margin-top 16px