$color_primary = #268fff
$color_red = #ff1818
$color_darkgray = #333
$color_dimgray = #666
$color_gray = #999
$color_lightgray = #fcfcfc

$font_huge = 28px
$font_large = 16px
$font_normal = 14px
$font_small = 12px
