.top-page-container
    position relative
    padding 20px 0
    min-height 400px
.sub-page-nav
    position absolute
    width 136px
    border 1px solid #d9d9d9
    border-radius 4px
    background #fff
    line-height 42px
    padding 16px 0
.sub-page-content
    margin-left 160px
.nav-list-wrap
    .list-title
        padding 0 20px
        font-weight bold
    .list-bd
        a
            display block
            padding-left 36px
            &:hover
                background #f6fbff
            &.router-link-active
                color #268fff
            span 
                 display inline-block
                 margin 0 5px 0 -15px
                 font-size 15px
        .lock 
             display none

